/* Kaveo's own typefaces, self-hosted so the site makes no request to a font CDN.
   Both are variable fonts under the SIL Open Font Licence; the licence texts are served beside
   the site at fonts/OFL-*.txt. */

@font-face {
  font-family: 'Manrope';
  src: url('../assets/fonts/Manrope.ttf') format('truetype');
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('../assets/fonts/SpaceGrotesk.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}
